@model List<Common>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>List of Employees</h1>
@foreach (var common in Model)
{
    <ul>
        @foreach (var employee in common.Employees)
        {
            <li>
                Id : @employee.EmployeeId, Name : @employee.EmployeeName , Age : @employee.EmployeeAge, Salary : @employee.EmployeeSalary
            </li>
        }
    </ul>
}

<h1>List of courses</h1>
@foreach(var common in Model)
{
    <ul>
        @foreach(var course in common.Courses)
        {
            <li>
                Id : @course.CourseId, Name : @course.CourseName
            </li>
        }
    </ul>
}